<app-photo
  [car]="car"></app-photo>
<div class="row">
  <div class="col-md-4">
    <h3>Marka: </h3>
  </div>
  <div class="col-md-7">
    <h3>{{ this.car.brand.name }}</h3>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-4">
    <h3>Model: </h3>
  </div>
  <div class="col-md-7">
    <h3>{{ car.model }}</h3>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-4">
    <h3>Rok Produkcji: </h3>
  </div>
  <div class="col-md-7">
    <h3>{{ car.productionYear }}</h3>
  </div>
</div>
<hr>
<div class="row">
  <div align="center">
    <button class="btn btn-primary" (click)="onDetailsClicked()">Szczegóły</button>
    <button class="btn btn-danger" (click)="onDeleteCarClicked()">Usuń</button>
  </div>
</div>
