<table class="table table-striped">
  <tbody>
  <tr>
    <td width="100px">Marka</td>
    <td>{{ car.brand }}</td>
  </tr>
  <tr>
    <td>Model</td>
    <td>{{ car.model }}</td>
  </tr>
  <tr>
    <td>Rok Produkcji</td>
    <td>{{ car.productionYear }}</td>
  </tr>
  <tr>
    <td>Przebieg</td>
    <td>{{ car.mileage }}</td>
  </tr>
  <tr>
    <td>Rodzaj Paliwa</td>
    <td>{{ car.fuel }}</td>
  </tr>
  <tr>
    <td>Moc Silnika</td>
    <td>{{ car.enginePower }}</td>
  </tr>
  <tr>
    <td>Kolor</td>
    <td>{{ car.color }}</td>
  </tr>
  <tr>
    <td>Cena Netto</td>
    <td>{{ car.netPrice }}</td>
  </tr>
  <tr>
    <td>Opis</td>
    <td>{{ car.description }}</td>
  </tr>
  <tr class="info" *ngIf="selectedCountry">
    <td>Cena Brutto dla {{ selectedCountry }}</td>
    <td> ------------ TODO -------------</td>
  </tr>
  </tbody>
</table>
<div class="row">
  <div align="center">
    <div
      class="btn-group"
      appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Podatek Dla Kraju <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li *ngFor="let country of countryList, let index = index"><a (click)="onCountrySelected(index)"
                                                   style="cursor: pointer">{{ country }}</a></li>
      </ul>
    </div>
    <button class="btn btn-warning" (click)="onEditCarData()">Edytuj Dane Samochodu</button>
  </div>
</div>
